<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316148951749-f92vbdc04mughtfsb8feimdr950aedc1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316148951749-f92vbdc04mughtfsb8feimdr950aedc1</string>
	<key>API_KEY</key>
	<string>AIzaSyCxzZ3wRYWx04g02r0hsc3o_QHL6YYJizg</string>
	<key>GCM_SENDER_ID</key>
	<string>316148951749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>stock-watchlist-pec</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-watchlist-pec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316148951749:ios:2fa2fb52fb36ed30605eac</string>
</dict>
</plist>